<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.macularehab" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaculaRehab" >
        <activity
            android:name=".patient.data.PatientTestHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ResultsFirstExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".TestDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".professional.patient.ProfessionalTestsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CalculateFocusActivity"
            android:exported="false" />
        <activity
            android:name=".TestsResultsActivity"
            android:exported="false" />
        <activity
            android:name=".SecondTestBothActivity"
            android:exported="false" />
        <activity
            android:name=".SecondTestBothExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".SecondTestRightActivity"
            android:exported="false" />
        <activity
            android:name=".SecondTestRightExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".SecondTestLeftExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".SecondTestLeftActivity"
            android:exported="false" />
        <activity
            android:name=".ManualInputStainBothActivity"
            android:exported="false" />
        <activity
            android:name=".ManualInputStainRightActivity"
            android:exported="false" />
        <activity
            android:name=".ManualInputStainLeftActivity"
            android:exported="false" />
        <activity
            android:name=".FirstTestBothActivity"
            android:exported="false" />
        <activity
            android:name=".FirstTestBothExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".FirstTestRightExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".FirstTestRightActivity"
            android:exported="false" />
        <activity
            android:name=".FirstTestLeftActivity"
            android:exported="false" />
        <activity
            android:name=".FirstTestLeftExplanationActivity"
            android:exported="false" />

        <!-- Professional Section . -->
        <activity
            android:name=".professional.account.ProfessionalLoginActivity"
            android:exported="false" />
        <activity
            android:name=".professional.account.ProfessionalSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".professional.account.ProfessionalIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalCreateNewPatient"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalCreateNewPatientDifficulties"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalCreateNewPatientShowNumericCode"
            android:exported="false" />
        <activity
            android:name=".professional.ProfessionalHome"
            android:exported="false" />
        <activity
            android:name=".professional.patient.ProfessionalPatientInfo"
            android:exported="false" />
        <activity
            android:name=".professional.patient.ProfessionalPatientHome"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalPatientEditInfo"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalPatientEditInfoDifficulties"
            android:exported="false" />
        <activity
            android:name=".professional.account.RestorePassword"
            android:exported="false" />
        <activity
            android:name=".professional.account.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".professional.account.ChangeEmail"
            android:exported="false" />
        <activity
            android:name=".professional.account.ChangeName"
            android:exported="false" />
        <activity
            android:name=".professional.account.ChangePhone"
            android:exported="false" />
        <!-- Professional Section Ends . -->

        <!-- Patient Section . -->
        <activity
            android:name=".patient.PatientHome"
            android:exported="false" />
        <activity
            android:name=".patient.logIn.PatientLogin"
            android:exported="false" />
        <activity
            android:name=".patient.PatientIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".patient.signUp.PatientSignUpUsername"
            android:exported="false" />
        <activity
            android:name=".patient.signUp.PatientSignUpPassword"
            android:exported="false" />
        <activity
            android:name=".patient.data.PatientDataInfoActivity"
            android:exported="false" />
        <activity
            android:name=".patient.professional.ProfessionalProfile"
            android:exported="false" />
        <activity
            android:name=".patient.professional.ContactProfessional"
            android:exported="false" />
        <!-- Patient Section End . -->

        <activity
            android:name=".IdentificationActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FirstExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SecondExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".SecondExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".ThirdExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FourthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FourthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FifthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FifthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SixthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".SixthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SeventhExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".SeventhExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EighthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".EighthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".NinthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".NinthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".TenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".TenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EleventhExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".EleventhExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".TwelfthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".TwelfthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ThirteenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".ThirteenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FourteenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FourteenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FifteenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FifteenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".exercises.ShowResultActivity"
            android:exported="false" />
        <activity
            android:name=".exercises.ChooseExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".exercises.ExerciseResultHistory"
            android:exported="false" />

        <activity
            android:name=".ExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <!-- Profiles -->
        <activity
            android:name=".profiles.ProfessionalEditProfile"
            android:exported="true" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
    </application>

</manifest>