<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.macularehab" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaculaRehab" >
        <activity
            android:name=".patient.data.PatientTestHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ResultsFirstExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".TestDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".professional.ProfessionalTestsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CalculateFocusActivity"
            android:exported="false" />
        <activity
            android:name=".TestsResultsActivity"
            android:exported="false" />
        <activity
            android:name=".GridTestBothActivity"
            android:exported="false" />
        <activity
            android:name=".GridTestBothExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".GridTestRightActivity"
            android:exported="false" />
        <activity
            android:name=".GridTestRightExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".GridTestLeftExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".GridTestLeftActivity"
            android:exported="false" />
        <activity
            android:name=".ManualInputStainBothActivity"
            android:exported="false" />
        <activity
            android:name=".ManualInputStainRightActivity"
            android:exported="false" />
        <activity
            android:name=".ManualInputStainLeftActivity"
            android:exported="false" />
        <activity
            android:name=".MapTestBothActivity"
            android:exported="false" />
        <activity
            android:name=".MapTestBothExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".MapTestRightExplanationActivity"
            android:exported="false" />
        <activity
            android:name=".MapTestRightActivity"
            android:exported="false" />
        <activity
            android:name=".MapTestLeftActivity"
            android:exported="false" />
        <activity
            android:name=".MapTestLeftExplanationActivity"
            android:exported="false" />

        <!-- Professional Section . -->
        <activity
            android:name=".professional.account.ProfessionalLoginActivity"
            android:exported="false" />
        <activity
            android:name=".professional.account.ProfessionalSingingActivity"
            android:exported="false" />
        <activity
            android:name=".professional.account.ProfessionalIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalCreateNewPatient"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalCreateNewPatientDifficulties"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalCreateNewPatientShowNumericCode"
            android:exported="false" />
        <activity
            android:name=".professional.ProfessionalHome"
            android:exported="false" />
        <activity
            android:name=".professional.ProfessionalPatientInfo"
            android:exported="false" />
        <activity
            android:name=".professional.ProfessionalPatientHome"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalPatientEditInfo"
            android:exported="false" />
        <activity
            android:name=".professional.patientForm.ProfessionalPatientEditInfoDifficulties"
            android:exported="false" />
        <activity
            android:name=".professional.account.RestorePassword"
            android:exported="false" />
        <activity
            android:name=".professional.account.ChangePassword"
            android:exported="false" />
        <!-- Professional Section Ends . -->

        <!-- Patient Section . -->
        <activity
            android:name=".patient.PatientHome"
            android:exported="false" />
        <activity
            android:name=".patient.logIn.PatientLogin"
            android:exported="false" />
        <activity
            android:name=".patient.PatientIdentificationActivity"
            android:exported="false" />
        <activity
            android:name=".patient.signUp.PatientSignUpUsername"
            android:exported="false" />
        <activity
            android:name=".patient.signUp.PatientSignUpPassword"
            android:exported="false" />
        <activity
            android:name=".patient.data.PatientDataInfoActivity"
            android:exported="false" />
        <!-- Patient Section End . -->

        <activity
            android:name=".IdentificationActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FirstExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SecondExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".SecondExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".ThirdExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FourthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FourthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FifthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FifthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SixthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".SixthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".SeventhExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".SeventhExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EighthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".EighthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".NinthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".NinthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".TenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".TenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EleventhExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".EleventhExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".TwelfthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".TwelfthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ThirteenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".ThirteenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".FourteenthExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".FourteenthExerciseDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".exercises.ShowResultActivity"
            android:exported="false" />
        <activity
            android:name=".exercises.ChooseExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".exercises.ExerciseResultHistory"
            android:exported="false" />

        <activity
            android:name=".ExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>